@digsym-blue : #67c1f1;
@digsym-blue-shade : #2893C3;
@digsym-gold : #9c8d3c;
@digsym-gold-shade : #857832;
@digsym-white : #fff;
@digsym-off-white : #eee;
@black-low : #222;
@black-med : #404040;
@black-hi : #737373;