@pad : 2rem;
html {
	margin-top : 90px;
}

body {
  font-size: 16px;
}



a, a:hover, a:active, a:focus {
   outline: 0;
   text-decoration: none;
}

iframe {
pointer-events: none;
}

.trans  {
  transition : all .5s;
}

.bordered (@color) {
  border-bottom : 1px solid @color;
}

.padded  {
  padding-top : @pad;
  padding-bottom : @pad*2;
}