@media screen and (max-width: @screen-lg) {
  #main-nav {
    .navbar-left {
      li {
       
        a {
          font-size: 1.8rem;
        }
      }
    }
  }

  #hero {
    height: 500px;
    padding-top: 70px;
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 14px;
    }
  }

  #get-tickets {
    .padded;
    h2 {
      padding-bottom: @pad;
    }
  }

  #sponsors {
    .sponsor-p {
      max-width: 80%;
    }
  }

  #foot {
    p {
      padding: 0;
    }
  }
}

@media screen and (max-width: @screen-md) {
  #hero {
    height: 380px;
  }
}

@media screen and (max-width: @screen-xs) {
  html {
    margin-top: 0;
  }
  @pad: 1rem;
  h2 {
    font-size: 2.1rem;
  }
	body  {
  		margin-top : 60px;
      font-size: 16px;
	}
	
	#main-nav {
    	height: 60px;
    	.nav-icon {
      		height: 42px;
    	}
  	}

  #hero {
    height: 460px;
    padding-top: @pad*2;
    .hero-logo {
      min-height: 15vh;
      max-height: 25vh;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 14px;
    }
  }

  #get-tickets {
    padding-top: @pad/2;
    .btn-get-tix {
      font-size: 2rem;
    }
  }

  #speakers {
    h1 {
      font-size: 2.7rem;
    }
    #speakers-left {
      padding-bottom: @pad*2;
    }
  }

  #agenda {
    h1 {
      font-size: 2.7rem;
    }
    .agenda-single {
      padding: 20px 15px;
    }
  }

  #location {
    h1 {
      font-size: 2.7rem;
    }
    .white-container {
      min-height: 0;
    }
  }

  #sponsors {
    .sponsor-p {
      max-width: 80%;
    }
    .sponsor-s {
      max-width: 100%;
      max-height: 90px;
    }
    .sponsor-e {
      max-width: 100%;
      max-height: 120px;
    }
  }
}