@import "_pingendo";
@import "_colors";
@import "_globals";

#main-nav {
  height: 90px;
  .bordered(@black-low);
  background-color: @digsym-white;
  a.navbar-brand {
    height: 50px;
    padding: 10px 15px;
  }
  .navbar-header {
    .btn-get-tix {
        border : none;
        background : @digsym-blue;
        color: @digsym-white;
        box-shadow: 0px 1px 2px @black-med;
        margin-right: 15px;
        margin-top: 10px;
        .trans;
        font-size : 1.8rem;
        &:hover {
          background: @digsym-blue-shade;
        }
      }
  }
  .nav-icon {
    height: 70px;
    width: 70px;
    margin-right: 50px;
  }
  .navbar-left {
    height: 100%;
    li {
      padding-top: @pad;
      height: 100%;
      .trans;
      a {
        color: @black-med;
      }
      &:hover {
        background: @digsym-gold;
        a {
          color: @digsym-white;
        }
      }
    }
  }
  .navbar-collapse {
    background-color: @digsym-white;
  }
  .navbar-right {
    li {
      padding-top: 10px;
      height: 100%;
      a {
        color: @black-med;
        .trans;
      }
      
      .btn-get-tix {
        border : none;
        background : @digsym-blue;
        color: @digsym-white;
        box-shadow: 0px 1px 2px @black-med;
        margin-left: 20px;
        margin-right: 15px;
        .trans;
        font-size : 2rem;
        &:hover {
          background: @digsym-blue-shade;
        }
      }
    }
  }
}

#hero {
  color: @digsym-white;
  height: 500px;
  padding-top: 150px;
  background-size: cover!important;
  background-repeat: none!important;
  background-attachment: fixed!important;
  background-position: center top!important;
  .overlay {
    background-color: @black-low;
    opacity: .7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
  }

}

#get-tickets {
  .bordered(@digsym-white);
  background: @digsym-blue;
  color: @digsym-white;
  .btn-get-tix {
    border : none;
    background : @black-low;  
    color: @digsym-white;
    .trans;
    font-size : 3rem;
    box-shadow: 0px 1px 2px @black-med;
    &:hover {
      background: @black-med;
      color: @digsym-white;
    }
  }
}

#about {
  background: url("../img/bkg_pattern.png");
  background-position: center center;
  color: @digsym-white;
  padding-top: @pad*2;
  padding-bottom: @pad*2;
  .bordered(@digsym-white);
  a {
    color: @digsym-gold;
    &:hover {
      color: @digsym-gold-shade;
    }
  }
  p {
    margin-bottom: @pad*2;
  }
  h2 {
    padding-bottom: @pad;
  }
}

.instagram-placeholder {
  width: 8.33333%;
  float: left;
  .instagram-image {
    width: 100%;
  }
}

#speakers {
  background: @black-low;
  color: @digsym-white;
  .padded;
  .bordered(@digsym-white);
  #speakers-left {
  	cursor: pointer;
    .media {
      padding: 10px;
      margin-top: 0;
      &:hover {
        background-color: #000;
      }
      .pull-left {
      	padding-right: 0;
      }
      img {
        height: 90px;
        width: 90px;
      }
    }
    .active {
      background: @black-med;
    }
    .media-body {
    	padding-left: 10px;
    }
  }
  .speakers-white-box {
    background: @digsym-white;
    color: @black-low;
    padding-bottom: @pad;
    a {
      color: @digsym-gold;
    }
    .tab-pane {
      padding-top: @pad;
      .social-icon {
        color: @black-med;
        padding-right: 5px;
      }
      h5 {
        letter-spacing: 2px;
        text-transform: uppercase;
        color: @black-hi;
      }
    }
    .panels {
      background: @digsym-off-white;
      padding: @pad/2;
      margin-bottom: 1rem;
    }
  }
}

#agenda {
  background: url("../img/bkg_pattern.png");
  background-position: center center;
  color: @digsym-white;
  .padded;
  a {
    color: @digsym-white;
    &:hover {
      color: @digsym-blue;
    }
  }
  .agenda-single {
    background: @black-hi;
    margin-bottom: 1rem;
    padding: @pad;
    .agenda-left {
      h2 {
        margin-top: 0;
      }
    }
    .agenda-right {
      p {
        color: @digsym-off-white;
        margin-bottom: 2.1rem;
        line-height: 2.1rem;
      }
      .ukw-banner {
        width: 100%;
      }
      h4 span {
        font-size: 70%;
        color: @digsym-off-white;
        text-transform: uppercase;
      }
    }
  }
}

#location {
  background: @black-hi;
  color: @digsym-white;
  small {
    color: @black-hi;
    font-size: 1.3rem;
  }
  .padded;
  .white-container {
    padding-top: @pad;
    padding-bottom: @pad;
    background: #fff;
    color: #222;
    min-height: 550px;
  }
}

#sponsors {
  background: @digsym-off-white;
  color: @black-hi;
  .padded;
  margin-bottom: @pad;
  .sponsor-p {
    max-width: 60%;
    padding: 20px;
  }
  .sponsor-g {
    max-width: 100%;
  }
  .sponsor-s {
    max-width: 80%;
    max-height: 90px;
  }
  .sponsor-e {
    max-width: 75%;
    max-height: 120px;
  }
}

#foot {
  min-height: 300px;
  padding-top: 0;
  i {
    color: @black-med;
  }
  .adcl-footer {
    height: 40px;
  }
  p {
    padding: 20px;
    a {
      color: @digsym-gold;
    }
  }
  .top {
    color: @black-med;
    font-size: 2rem;
  }
}

@import "_mobile";